<div class="wslider2" data-images='<%= images.to_json.html_safe %>'>

  <div class="frame shown_right_now"></div>
  <div class="frame"></div>

  <div class="preloader">
    <div class="spinner">
      <div class="outer"></div>
      <div class="inner"></div>
    </div>
  </div>

</div>