<div class="wslider2" data-images='<%= images.to_json.html_safe %>' data-props='<%= props.to_json.html_safe %>'>

  <div class="frame shown_right_now"><h1></h1></div>
  <div class="frame"><h1></h1></div>

  <div class="preloader">

    <div class="spinner loading"></div>

  </div>

</div>